
/* ייבוא פונט Rubik מ-Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

/* הגדרת הפונט לכל האתר */
body {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding-top: 60px; /* גובה הסרגל */
  background-color: #f2f2f2; /* רקע בהיר כללי */
}
