.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 60px); /* גובה מלא פחות סרגל הניווט */
  text-align: center;
  padding: 20px;
}

.home-title {
  font-size: 48px;
  color: #003366;
  margin-bottom: 20px;
}

.home-image {
  max-width: 50%;   /* קטן יותר */
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
