.tour-btn-small {
  position: fixed;
  bottom: 20px;
  left: 100px;
  width: 56px;
  height: 56px;
  background-color: #003366; /* כחול אחיד */
  border: 3px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
   display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 15px rgba(0,0,0,0.25);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  z-index: 1000;
}

.tour-btn-small:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 25px rgba(0,0,0,0.35);
}


.tour-icon {
  width: 28px;
  height: 28px;
  color: #ffffff; /* צהוב בולט */
}

/* מיקום מותאם לטלפונים */
@media (max-width: 768px) {
  .tour-btn-small {
    bottom: 16px;   /* יותר למטה */
    left: 95px;    /* טיפה מהשול */
     width: 56px;
    height: 56px;
  }
}

