/* =======================
   Countdown – בסיס (Mobile first)
======================= */
.countdown-row {
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 4px; */
  font-family: 'Rubik', sans-serif;
  direction: rtl;
  flex-wrap: nowrap; /* שלא ישבר שורה */
}

.countdown-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1px;
}

.count-number {
  font-size: calc(14px * var(--a11y-font-scale));
  font-weight: 700;
  color: #023466;
  line-height: 1;
  margin: 0;
}

.count-label {
  font-size: calc(10px * var(--a11y-font-scale));
  color: #023466;
  line-height: 1;
  margin-top: 1px;
}

.count-sep {
  font-size: calc(14px * var(--a11y-font-scale));
  font-weight: 700;
  color: #023466;
  margin: 0 2px;
}


/* =======================
   טאבלט
======================= */
@media (min-width: 600px) {


  .count-number {
    font-size: calc(16px * var(--a11y-font-scale));
  }

  .count-label {
    font-size: calc(11px * var(--a11y-font-scale));
  }

  .count-sep {
    font-size: calc(16px * var(--a11y-font-scale));
    margin: 0 4px;
  }
}


/* =======================
   מחשב
======================= */
@media (min-width: 1024px) {
 

  .count-number {
    font-size: calc(18px * var(--a11y-font-scale));
  }

  .count-label {
    font-size: calc(12px * var(--a11y-font-scale));
  }

  .count-sep {
    font-size: calc(18px * var(--a11y-font-scale));
    margin: 0 6px;
  }
}
